extends layout

block content
    .container 
        if message 
            .alert.alert-info(role='alert') #{message}
        if data != undefined && data.length > 0
            .row
                .col-2 
                .col-8 
                    h5.color.center Agent Name: #{session}
                    h6.text-color.center Agent Id
                    h5.color IPO
                    hr
                    form(action="/agent/agent-dashboard",method="post")
                        .row 
                            .col-4
                                label.mt-5(for="ipo") Select an IPO
                                select.form-control#ipo(name='ipo')
                                    for item in data

                                        option(value=`${item.Key}`) #{item.Record[item.Key].ipoInfo.issuer_name}

                                        
                            .col-4 
                                .dropdown
                                    label.mt-5(for="action") Select an Action
                                    select.form-control#ipo(name='action')
                                        option(value="1") Allocate 
                                        option(value="2") Escrow Account Info 
                            .col-4
                        .row 
                            .col-12
                        .row 
                            .col-12
                        .row
                            .col-12
                        .row 
                            .col-10 
                            .col-2 
                                button.btn.button(type="submit") Submit
                        hr
                        if escrow_info
                            .row 
                                .col-1
                                    .col-5
                                        p.text-color Issue Name 
                                        p.text-color Total Amount
                                        p.text-color Allocation Status
                                        p.text-color Refund Status
                                .col-1
                                .col-2 
                                    .col-5
                                        p.color #{escrow_info.Record[escrow_info.Key].ipoInfo.issuer_name}
                                        br
                                        p.color #{escrow_info.Record[escrow_info.Key].ipoInfo.wallet_balance}
                                        br
                                        p.color #{escrow_info.Record[escrow_info.Key].ipoInfo.is_allotted}
                                        br
                                        p.color #{escrow_info.Record[escrow_info.Key].ipoInfo.is_allotted}
                                .col-2

            .col-2
        else 
            .row
                .col-2 
                .col-8 
                    h5.color.center Agent Name: #{session}
            center 
                h4.color.center You are not registered with any IPO