extends layout

block content
    style.
        form {
            margin-top: 0;
        }
        label{
            margin-top: 0;
        }
        .p1{
            margin-top: 3%;
            margin-bottom:0;
        }
        .button{
            margin-top: 2%;
        }
        
    .container 
        .row 
            .col-4
            .col-4 
                .row 
                    .col-5 
                    .col-2 
                        .person-icon
                            i.bi.bi-person-circle    
                    .col-5
                .row 
                    .col-3
                    .col-6
                        h5.mt-3.color.center #{user.full_name}
                    .col-3
                .row 
                    .col-3 
                    .col-6
                        h6.mt-2.center.color #{user.user_name}
        .row 
            .col-1
            .col-10   
                div
                    p.h4 IPOs Applied
                    hr
                    //- p.h4 !{JSON.stringify(investor_transactions)} 
                    for key in investor_transactions  
                        //- p.h4 !{JSON.stringify(key)}  
                        p.h4.color Issuer Name: #{key[0].issuer_name} 
                        if key[0].ticker
                            p.h5.color Issuer Ticker: #{key[0].ticker}
                        else 
                            p.h5.color Issuer Ticker: -
                        for i in key
                            //- p.h3 !{JSON.stringify(i)}
                            form(action="/users/alter-bid", method="post") 
                                .row 
                                    .col-4 
                                        input(type="hidden", name="transaction_id" value=`${i.id}`)
                                        //- p.h4 #{investor_transaction.ticker}
                                        //- p.h5 #{investor_transaction.issuer_name}
                                        p.h5.p1 Invested: #{i.lots_bid*i.lot_size*i.bid_amount} Rs.
                                    //- .col-6 
                                    //- .col-2
                                    .form-group 
                                        label(for="bid_amount") Bid Amount
                                        input.form-control(type="text", name="bid_amount", value=`${i.bid_amount}`)    
                                    .form-group 
                                        label(for="lots_applied") Lots Applied
                                        input.form-control(type="text", name="lots_applied" value=`${i.lots_bid}`)    
                                        //- p.h6 Bid Amount #{investor_transaction.bid_amount}
                                        //- p.text-color Lots Applied: #{investor_transaction.lots_bid}
                                .row 
                                    //- .col-4
                                    .col-4
                                        //- input(type="hidden", name="ipo_id" value=`${ipo.ipo_id}`)
                                        button.button.btn-sm(type="submit", name="form_action", value=`modify`) Modify
                                        span 
                                        button.button.btn-danger.btn-sm(type="submit", name="form_action", value=`delete`) Delete           
                            //- form(action="/delete-bid", method="post")   
                                .row
                                    .col-4
                                        input(type="hidden", name="delete_transaction_id" value=`${i.id}`)
                                    .col-4
                                        //- input(type="hidden", name="ipo_id" value=`${ipo.ipo_id}`)
                                        button.button.btn-lg(type="submit" name="delete") Delete                      
                        hr

                    