extends layout

block content
    .container 
        .row.mb-5
            .col-12.d-flex.justify-content-center
                .row.mt-5.w-75
                    .col-12
                        div 
                            - const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                            - var bid_start_date=new Date(ipo.bid_start_date)
                            - var date=bid_start_date.getDate()+"th"+" "+month[bid_start_date.getMonth()]+" "+bid_start_date.getFullYear()
                            h5 #{ipo.ticker}
                            p.text-color #{ipo.issuer_name}

                            //- p.color Investor Type
                            //- p.text-color Retail Investor

                            span.color Issue Date 
                            h5.text-color #{date}

                            span.color Issue Price Range
                            h5.text-color Rs.#{ipo.priceRangeLow} - Rs.#{ipo.priceRangeHigh}

                            span.color Lot Size 
                            h5.text-color #{ipo.lot_size}


                        
                            form(action="/apply-ipo", method="post") 
                                .row.mt-5
                                    span.h5 Payment Details 
                                    input(type="hidden", name="ipo_id",value=`${ipo.ipo_id}`)
                                    //- .col-4
                                    //-     .form-group 
                                    //-         label(for="acctnum") Account Number
                                    //-         input.form-control(type="text")  
                                    //- .col-4
                                    //-     .form-group 
                                    //-         label(for="acctholder") Account Holder Name
                                    //-         input.form-control(type="text")  
                                    //- .col-4
                                    //-     .form-group 
                                    //-         label(for="ifsc") Bank IFSC
                                    //-         input.form-control(type="text")

                                    
                                    label(for="demat") Demat Number
                                        select.form-select.form-select-lg(aria-label='.form-select-lg example' name="demat" required)
                                            option(value='')
                                            for dmat in demat
                                                option(value=`${dmat.demat_ac_no}`) #{dmat.demat_ac_no} 

                                .row.mt-3 
                                    span.h5.mb-2 Bids 
                                    .col-6
                                        label.mt-0(for="qty") Qty.
                                        input.form-control(type="text" name="qty" onchange="Amount()" id="qty")  
                                    .col-6
                                        label.mt-0(for="price") Price
                                        input.form-control(type="text" name="price" onchange="Amount()" id="price")  
                                    

                                .row.mt-5

                                    .col-6.text-left
                                        p.text-color Amount Payable
                                    .col-6.text-right
                                        p.color#total Rs. 


                                .row 
                                    .col-6.text-left
                                        button.button.btn-lg(type="reset") Close
                                    .col-6.text-right
                                        button.button.btn-lg(type="submit") Submit

    script(type="text/javascript").
        function Amount(){
            var ipo = !{JSON.stringify(ipo)};
            console.log(ipo)
            var lot_size=ipo.lot_size
            console.log(lot_size)
            var qty=document.getElementById("qty").value;
            var price=document.getElementById("price").value;
            var total;
            if(qty && price){
                total=parseInt(lot_size)*parseInt(qty)*parseInt(price)
                console.log(total)
                document.getElementById("total").innerHTML=total
            }
        }
        

                
                
        
    

        
