extends layout

block content
    style.
        form {
            margin-top: 0;
        }
        label{
            margin-top: 0;
        }
        .p1{
            margin-top: 3%;
            margin-bottom:0;
        }
        .button{
            margin-top: 2%;
        }

    .container.mb-5.pb-5
        .row 
            .col-4
            .col-4 
                .row 
                    .col-12.d-flex.justify-content-center 
                        .person-icon
                            i.bi.bi-person-circle    
                .row 
                    .col-12.d-flex.justify-content-center 
                        h5.mt-3.color.center #{user.full_name}
                .row 
                    .col-12.d-flex.justify-content-center 
                        h6.mt-2.center.color #{user.user_name}
        .row 
            .col-1
            .col-10   
                div
                    p.h4 IPOs Applied
                    hr
                    //- p.h4 !{JSON.stringify(investor_transactions)} 
                    #accordionExample.accordion
                        for key in investor_transactions
                            - var headingOne = `heading${key[0].issuer_name}`
                            - var collapseOne = `collapse${key[0].issuer_name}`
                            .accordion-item
                                .accordion-header(id=headingOne)
                                    button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target=`#${collapseOne}` aria-expanded='false' aria-controls=`${collapseOne}` data-bs-parent='#accordionExample')
                                        h5.color #{key[0].issuer_name} 
                                        i.bi.bi-pencil
                            .accordion-collapse.collapse(aria-labelledby=headingOne id=collapseOne)
                                .accordion-body
                                    for i in key
                                        form(action="/users/alter-bid" method="post")
                                            .row 
                                                .col-12
                                                    .row 
                                                        .col-6
                                                            .form-group 
                                                                label(for="issuename") Issuer Name: #{key[0].issuer_name} 
                                                        .col-6
                                                            .form-group 
                                                                label(for="ticker")  
                                                                    if key[0].ticker
                                                                        p Issuer Ticker: #{key[0].ticker}
                                                                    else 
                                                                        p Issuer Ticker: Not Set
                                                    .row 
                                                        .col-6
                                                            .form-group 
                                                                label(for="bid_amount") Bid Amount
                                                                input.form-control(type="text" name="bid_amount" value=`${i.bid_amount}`) 
                                                                input.form-control(type="hidden" name="id" value=`${i.id}`)
                                                        .col-6
                                                            .form-group 
                                                                label(for="lots_applied") Lots Applied
                                                                input.form-control(type="text" name="lots_applied" value=`${i.lots_bid}`)
                                                    .row
                                                        .col-12.d-flex.justify-content-end.m-3
                                                            .form-group.m-3
                                                                button.button.btn-sm(type="submit" name="form_action", value=`modify`) Modify
                                                            .form-group.m-3
                                                                button.button.btn-danger.btn-sm(type="submit" name="form_action", value=`delete`) Delete                     
                                        hr

