extends layout

block content
    .container 
        .row
            .col-2 
            .col-8 
                if message 
                    .alert.alert-info(role='alert') #{message} 

                h3.color.center #{ipoInfo.issuer_name}
                #accordionExample.accordion
                    .accordion-item
                        h2#headingOne.accordion-header
                            button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                h5.color Issuer Info 
                                    i.bi.bi-pencil
                        #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                            .accordion-body
                                form(action="/issuer/update-issuer", method="post") 
                                    .row 
                                    .col-12
                                        .row 
                                            .col-3
                                                .form-group 
                                                    label(for="issuename") Issuer Name 
                                                    input.form-control(type="text",name="issuename",value=`${ipoInfo.issuer_name}` readonly)   
                                            .col-3
                                                .form-group 
                                                    label(for="isin") ISIN
                                                    input.form-control(type="text", name="isin", value=`${ipoInfo.ISIN}`, id="isin")    
                                            .col-3
                                                .form-group 
                                                    label(for="cusip") CUSIP
                                                    input.form-control(type="text", name="cusip", value=`${ipoInfo.CUSIP}`, id="cusip")    
                                            .col-3
                                                .form-group 
                                                    label(for="ticker") Ticker
                                                    input.form-control(type="text", name="ticker", value=`${ipoInfo.ticker}`, id="ticker")    
                                        .row 
                                            .col-3
                                                .form-group 
                                                    label(for="ipoStartDate") IPO Start Date 
                                                    input.form-control(type="text",name="ipoStartDate" , value=`${bid_start_date}` readonly)   
                                            .col-3
                                                .form-group 
                                                    label(for="ipoEndDate") IPO End Time(In Seconds)
                                                    input.form-control(type="text",name="ipoEndDate",value=`${ipoInfo.bid_time}` readonly )    
                                            .col-3
                                                .form-group 
                                                    label(for="totalShares") Total Shares
                                                    input.form-control(type="number", name="totalShares", value=`${ipoInfo.total_size}` readonly)    
                                            .col-3
                                                .form-group 
                                                    label(for="lotSize") Lot Size
                                                    input.form-control(type="number",name="lotSize" ,value=`${ipoInfo.lot_size}` readonly)
                                        .row
                                            .col-3
                                                .form-group 
                                                    label(for="lowPrice") Low Price
                                                    input.form-control(type="number",name="lowPrice", value=`${ipoInfo.priceRangeLow}` readonly )
                                            .col-3
                                                .form-group 
                                                    label(for="highPrice") High Price
                                                    input.form-control(type="number",name="highPrice", value=`${ipoInfo.priceRangeHigh}` readonly)
                                            .col-3
                                                .form-group 
                                                    label(for="principle") Allocation Principle
                                                    input.form-control(type="text",name="principle" value=`${allotment_principle}` readonly)
                                            .col-3
                                                .form-group 
                                                    label(for="fixedPrice") Fixed Price
                                                    input.form-control(type="number", name="fixedPrice" value=`${ipoInfo.fixed_price}` readonly)
                                            .col-3 
                                                .form-group
                                                    label(for="") 
                                                    button.btn.button.btn-lg(type="submit", id="update-btn") Update

                    .accordion-item
                        h2#headingTwo.accordion-header
                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                h5.color IPO Buckets
                        #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                            .accordion-body
                                table.table
                                    thead
                                        tr
                                        th(scope='col') Investor Type
                                        th(scope='col') Bucket Size
                                        th(scope='col') Investor Priority
                                        th(scope='col') 
                                    tbody
                                        for bucket in ipoBucket
                                            tr
                                                
                                                td #{bucket.investor_type}
                                                td #{bucket.no_of_shares}
                                                td #{bucket.priority}
                                                td 
                                                    i.bi.bi-pencil
                                        
                    .accordion-item
                        h2#headingThree.accordion-header
                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                 h5.color Investor Classification & Quota
                        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                            .accordion-body
                                table.table
                                    thead
                                        tr
                                        th(scope='col') Investor Type
                                        th(scope='col') Reserved Quota
                                        th(scope='col') Minimum Lot Qty
                                        th(scope='col') 
                                    tbody
                                        for investor in investorClassification
                                            tr
                                                
                                                td #{investor.investor_type}
                                                td #{investor.reserve_lots}
                                                td #{investor.min_lot_qty}
                                                td 
                                                    i.bi.bi-pencil           
            .col-2

    script.
        console.log("Inside script")
        function identifiersAvailable(){
            let ipoInfo = !{JSON.stringify(ipoInfo)};
            if (!(ipoInfo.ISIN && ipoInfo.CUSIP && ipoInfo.ticker)){
                console.log("Update Once available");
            }
            else{
                console.log("No Update allowed...");
                document.getElementById('isin').readOnly = true;
                document.getElementById('cusip').readOnly = true;
                document.getElementById('ticker').readOnly = true;
                document.getElementById('update-btn').disabled = true;
            }
        }
        identifiersAvailable();

script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js' integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF' crossorigin='anonymous')

        