extends layout

block content
    .container 
        .row 
            .col-1
            .col-10
                div
                    //- .row
                    //-     .col-10 
                    //-     .col-2
                    //-         .person-icon
                    //-             i.bi.bi-person-square
                div
                    p.h4 IPOs(#{ongoing.length})
                    hr
                    for ipo in ongoing 
                        - const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                        - var bid_start_date=new Date(ipo.bid_start_date)
                        - var date=bid_start_date.getDate()+"th"+" "+month[bid_start_date.getMonth()]+" "+bid_start_date.getFullYear()
                        form(action="/apply", method="post") 
                            .row 
                                .col-4 
                                    p.h4 #{ipo.ticker}
                                    p.h6 #{ipo.issuer_name}
                                    p #{date}
                                .col-6 
                                .col-2
                                    p.h6 Rs. #{ipo.priceRangeLow}-Rs.#{ipo.priceRangeHigh}
                                    p.text-color Lot Size: #{ipo.lot_size}
                                    .row 
                                        .col-2
                                        .col-6
                                            input(type="hidden", name="ipo_id" value=`${ipo.ipo_id}`)
                                            button.button.btn-lg(type="submit") Apply
                                        .col-2

                div
                    a(href="/upcoming-ipo",method="get")
                        div.center
                            i.bi.bi-chevron-double-down
                            p View Upcoming IPOs
                
        
   