extends layout

block content
    div.container   
        .row 
            .col-2 
            .col-8
                #portfolios
                //- if data 
                //-     .alert.alert-info(role='alert') #{data}      
                if !isEmpty
                    #{isEmpty}
                    table.table.table-striped-columns.table-hover
                        thead
                            tr
                                th(scope="col") Instruments 
                                th(scope="col") Qty (Shares)
                                th(scope="col") Avg. Price
                                th(scope="col") Total Value
                        tbody   
                            for item in portfolios

                                tr
                                    td #{item.ipo_name}
                                    td #{item.totalShares}
                                    td #{item.avg_price_per_share}                          
                                    td #{item.totalValue}
                else 
                    center 
                        tr 
                            h3.color.center Empty Portfolio






