extends layout

block content
    .container 
        .row
            .col-12.text-center
                h1.display-1.text-yoda
                    i.bi.bi-person-circle
                h3.mt-3.color.center #{user.full_name}
                h6.mt-2.center.color #{user.user_name}
        .row 
            .col-12.d-flex.justify-content-center
                .row.mt-5.w-75

                    .col-6.text-left
                        //- p.text-color Email
                        p.text-color PAN 
                        p.text-color Bank Account 
                        p.text-color IFSC
                    .col-6.text-right
                        //- p.text-color aasawarib@gmail.com
                        p.text-color #{investor.pan}
                        p.text-color #{investor.bank_account_no}
                        p.text-color #{investor.ifsc_code}
                    hr
                    for dmat in demat 
                        .col-6.text-left
                            p.text-color Demat
                            p.text-color Depository Participant Id

                        .col-6.text-right
                            p.text-color #{dmat.demat_ac_no}
                            p.text-color #{dmat.dp_id}
                        hr
                    .col-6.text-left
                        p.text-color Funds 
                    .col-6.text-right
                        p.text-color #{balance}
                    hr
        
                    form(action="/add-demat", method="post") 
                        .col-6
                            p.text-color Add Demat
                        .row
                            .col-6
                                .form-group 
                                    label(for="demataccno") Demat Account Number
                                    input.form-control(type="text" name="demataccno")
                            .col-6
                                .form-group 
                                    label(for="dpid") Demat Participant ID
                                    input.form-control(type="text" name="dpid")
                        .row 
                            .col-12.text-right
                                button.button.btn-lg(type="submit",style='margin-bottom:2rem') Add
                                
       