extends layout

block content
    #data
        if data != undefined && data.length > 0
            .col-2
            .col-8
           
            h1 Upcoming IPOs
            .list-group   
            
            for item in data
                -if(item.Record[item.Key].ipoInfo.bid_start_date){
                    -var bid_start_date=new Date(item.Record[item.Key].ipoInfo.bid_start_date)
                    -var today=new Date()
                    -today.setHours(0,0,0,0)

                    -if (bid_start_date>=today){
                        //- div.row
                        //-     div.col-6
                        //-         div.card.mt-5.mb-5(style="width: 18rem;")
                        //-             ul.list-group.list-group-flush
                        //-                 input#custId(type='hidden' name='custId' value=`${item.Key}`)
                        //-                 li.list-group-item.h3.bg-primary #{item.Record[item.Key].ipoInfo.issuer_name} IPO
                        //-         a.btn.btn-lg.btn-primary(href='/invoke') Apply Now
                        //-     div.col-6
                        //-         div.card.mt-5.mb-5.bg-primary(style="width: 30rem;")
                        //-             ul.list-group.list-group-flush
                        //-                 //- for share in item
                        //-                 li.list-group-item.h3 Minimum Order Quantity  #{item.Record[item.Key].ipoInfo.lot_size}    
                        //-                 li.list-group-item.h3 Price Range  #{item.Record[item.Key].ipoInfo.priceRangeLow}  -  #{item.Record[item.Key].ipoInfo.priceRangeHigh}  
                        
                        a.list-group-item.list-group-item-action.flex-column.align-items-start.active.mt-5(href=`/invoke?id=${item.Key}`)
                            .d-flex.w-100.justify-content-between
                            h1.mb-3(style='text-align: center;') #{item.Record[item.Key].ipoInfo.issuer_name}
                            hr(style='border: 5px solid;border-radius: 2px;')
                            h3.mb-1.text-center Lot Size     #{item.Record[item.Key].ipoInfo.lot_size}
                            hr(style='border: 1px solid;')
                            h3.mb-1.text-center Price Range       #{item.Record[item.Key].ipoInfo.priceRangeLow}  -  #{item.Record[item.Key].ipoInfo.priceRangeHigh}  
                            //- h3.mb-1 Bid Start Date #{item.Record[item.Key].ipoInfo.bid_start_date}
                            
                                
                                
                    -} 
                -}
                
        
script(src='/bootstrap/js/bootstrap.bundle.js')
